{% extends "@!EasyPage/front/index.html.twig" %}

{% block easy_page_page_content %}
    <section>
        <article>
            <h1>{{ page.name }}</h1>
            <div class="content">
                {% for block in page.content %}
                    {{ render_easy_editor_block(block) }}
                {% endfor %}
            </div>
        </article>
    </section>
{% endblock %}
