<ul>
    <li>Your block at <code><a href="{{ '/var/www/html/src/Blocks/Shared/ShaType.php'|file_link(0) }}">src/Blocks/Shared/ShaType.php</a></code></li>
    <li>Your template at <code><a href="{{ '/var/www/html/templates/blocks/shared/sha.html.twig'|file_link(0) }}">templates/blocks/shared/sha.html.twig</a></code></li>
</ul>
