<div class="d-block">
{% for payment_form in form.payments %}
        {% include '@EasyShop/SyliusShop/Checkout/SelectPayment/_payment.html.twig' with {'form': payment_form} %}
    {% else %}
        {% include '@EasyShop/SyliusShop/Checkout/SelectPayment/_unavailable.html.twig' %}
    {% endfor %}
</div>
