<ul>
    <li>Your block at <code><a href="{{ '/var/www/html/src/Blocks/EmbedType.php'|file_link(0) }}">src/Blocks/EmbedType.php</a></code></li>
    <li>Your template at <code><a href="{{ '/var/www/html/templates/blocks/embed.html.twig'|file_link(0) }}">templates/blocks/embed.html.twig</a></code></li>
</ul>