<ul>
    <li>Your block at <code><a href="{{ '/Users/arnaudritti/Sites/my_project_name/src/Blocks/HeaderType.php'|file_link(0) }}">src/Blocks/HeaderType.php</a></code></li>
    <li>Your template at <code><a href="{{ '/Users/arnaudritti/Sites/my_project_name/templates/blocks/header.html.twig'|file_link(0) }}">templates/blocks/header.html.twig</a></code></li>
</ul>