<ul>
    <li>Your block at <code><a href="{{ '/src/Blocks/HeaderType.php'|file_link(0) }}">src/Blocks/HeaderType.php</a></code></li>
    <li>Your template at <code><a href="{{ '/templates/blocks/header.html.twig'|file_link(0) }}">templates/blocks/header.html.twig</a></code></li>
</ul>
