{% extends "@!EasyPage/front/index.html.twig" %}

{% block easy_page_page_content %}
    <section>
        <article>
            <h1 class="mb-5">{{ page.name }}</h1>
            <div class="content">
            </div>
        </article>
    </section>
{% endblock %}
